.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container .calculator {
    width: 340px;
    height: 550px;
    background-image: url("https://d1fdloi71mui9q.cloudfront.net/DdsTnbPRkeSsVVvkzX5a_s9VRKc0mDTAF62M9");
    background-size: contain;
    background-color: #444;
    color: white;
    font-weight: bold;
    font-size: 2.1rem;
}

.container .calculator .displayBoard {
    position: relative;
    height: 150px;
}

.container .calculator .displayBoard .result {
    background-color: #444;
    opacity: 10;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 30px 5px 0;
}

.container .calculator .numberBoard {
    width: 100%;
    height: 400px;
}

.container .calculator .numberBoard .row {
    display: flex;
    flex-flow: wrap;
    height: 80px;
}

.container .calculator .numberBoard .row .btn {
    cursor: pointer;
}

.container .calculator .numberBoard .row .col {
    flex-basis: 25%;
    cursor: pointer;
}

.col > .inner, .col2 > .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #444;
    height: 78px;
}

.container .calculator .numberBoard .row .col2 {
    flex-basis: 50%;
    cursor: pointer;
}

.container .calculator .numberBoard .subBtn {
    background-color: #555;
}

.container .calculator .numberBoard .subBtn:active {
    background-color: #777;
}

.container .calculator .numberBoard .numberBtn {
    background-color: #777;
}

.container .calculator .numberBoard .numberBtn:active {
    background-color: #aaa;
}

.container .calculator .numberBoard .operator {
    background-color: #71BF44;
}

.container .calculator .numberBoard .operator:active {
    background-color: #5a9a36;
}